body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* For iPhone SE */
@media (max-width: 320px) {
  /* Adjust container styles for iPhone SE */
  .responsive-container {
    max-width: 100%;
    height: auto;
  }
}

/* For iPhone XR */
@media (min-width: 321px) and (max-width: 414px) {
  /* Adjust container styles for iPhone XR */
  .responsive-container {
    max-width: 100%;
    height: auto;
  }
}

/* For iPhone 12 Pro */
@media (min-width: 415px) {
  /* Adjust container styles for iPhone 12 Pro */
  .responsive-container {
    max-width: 100%;
    height: auto;
  }
}
